*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header {
    height: 50px;
}

.super {
    vertical-align: super;
}

.margin-right-header {
    margin-right: 1rem;
}

.dropbox {
    height: 18px;
    padding-left: 10px;
}

.margin-top {
    margin-top: 1rem;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.size {
    font-size: 10px;
}

.title-job {
    background-color: rgb(179, 208, 230);
    height: 150px;
}

h1 {
    font-size: 70px;
    margin: 0 14rem;
}

.relative {
    position: relative;
}

.font-p {
    font-size: 11px;
    padding-left: 14rem;
    padding-bottom: 2rem;
}

.light {
    background-color: rgb(179, 208, 230);
    height: 410px;
    display: flex;
    margin-bottom: 70px;
    padding-top: 70px;
}

.font-img{
    height: 400px;
    padding-right: 13rem;
}

.gratis {
    background-color: rgb(0, 95, 245);
    margin-left: 14rem;
    color: white;
    font-size: 10px;
    height: 2rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.cancel {
    padding-left: 14rem;
    font-size: 11px;
}

.arrow-down {
    padding-top: 6rem;
    padding-left: 14rem;
    font-size: 40px;
}

.search-business {
    margin: 0 23rem;
    height: 100px;
}

h3 {
    padding-top: 2rem;
}

.columns {
    margin: 0 20rem;
    height: 600px;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    margin-top: 3rem;
}

.column-one{
    padding-right: 2rem;
    width: 300px;
    height: 600px;
    border:  1px solid lightgrey;
}

h6 {
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
}

.contact {
    font-size: 10px;
    margin-bottom: 3rem;
}

.contatto {
    font-size: 10px;
    padding-left: 3rem;
}

.padding-top{
    padding-top: 3.5rem;
}

.users {
    padding-right: 0.25rem;
}

.column-one-container {
    padding-left: 1rem;
}

.padding-1rem {
    padding-bottom: 1rem;
}

.pay {
    font-size: 12px;
}

.font-size {
    font-size: 9px;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
}

.user{
    font-size: 10px;
    padding-right: 0.25rem;
}

.folder {
    font-size: 10px;
    padding-right: 0.25rem;
}

.share {
    font-size: 10px;
    padding-right: 0.25rem;
    padding-bottom: 2rem;
}

.light-grey {
    color: lightgrey;
    display: block;
    font-size: 10px;
    padding-top: 0.5rem;
    margin-bottom: 2rem;
}

.try-for-free{
    padding-left: 1rem;
    font-size: 10px;
}

.bg-blu{
    background-color: rgb(0, 97, 251);
    color: white;
    width: 150px;
    height: 28px;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.bg-white{
    background-color: white;
    border-bottom: lightgrey solid;
    height: 43px;
    width: 100px; 
    margin-bottom: 1rem;
}

.shop {
    padding-top: 1rem;
    font-size: 10px;
}

.floor{
    font-size: 10px;
    margin-bottom: 20px;
}

.check {
    color: rgb(6, 92, 251);
    padding-right: 0.25rem;
}

.font-size-floor {
    font-size: 9px;
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
}

.column-two{
    padding-right: 2rem;
    width: 300px;
    height: 600px;
    border: 1px solid lightgrey;
}

.column-three{
    padding-right: 2rem;
    width: 300px;
    height: 600px;
    border: 1px solid lightgrey;
}

.margin-right {
    margin-right: 50px;
}

.horizontal {
    background-color: blueviolet;
    height: 180px;
    border: dotted;
    margin: 0 23rem;
    margin-bottom: 70px;
}

.white {
    background-color: white;
    margin: 0 23rem;
    height: 300px;
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

.img-partner {
    width: 405px;
    height: 300px;
}    

.paragraph {
    background-color: white;
    width: 300px;
    height: 300px;
}

.contact-partner {
    padding-top: 2rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
}

.six-paragraph {
    margin: 0 23rem;
    background-color: white;
    height: 800px;
    margin-bottom: 150px;
}

.title-dropbox-business {
    font-size: 22px;
    padding-bottom: 1rem;
}

.img-dropbox {
    width: 230px;
    height: 200px;
}

.title-strument {
    font-size: 18px;
    padding-bottom: 1rem;
}

.p-size {
    font-size: 11px;
}

.flex-j-row {
    display: flex;
    flex-direction: row;
}

.padding-bottom {
    padding-bottom: 5rem;
}

.column-one-dropbox {
    width: 230px;
    height: 300px;
    padding-right: 2rem;
}

.column-two-dropbox {
    width: 230px;
    height: 300px;
    padding-right: 2rem;
}

.column-three-dropbox {
    width: 230px;
    height: 300px;
    padding-right: 2rem;
}

.column-four-dropbox {
    width: 230px;
    height: 300px;
    padding-right: 2rem;
}

.column-five-dropbox{
    width: 230px;
    height: 300px;
    padding-right: 2rem;
}

.column-six-dropbox{
    width: 230px;
    height: 300px;
    padding-right: 2rem;
}

.title-button {
    margin-left: 23rem;
    margin-right: 40rem;
    height: 150px;
    margin-bottom: 80px;
}

.flex{
    display: flex;
}

.bg-red{
    background-color: #fe1c1c;
}

.bg-blue{
    background-color: #0d2480;
}

.bg-sky-blue{
    background-color: #0092cd;
}

.bg-light-blue{
    background-color: #b3cfe6;
}

.bg-yellow{
    background-color: #fed730;

}
.bg-dark-red{
    background-color: #61082b;

}
.bg-light-green{
    background-color: #a1d29a;
}

.bg-light-grey{
    background-color: #f4f4f4;
}


section.bg-light-blue{
    background-color: #b4d0e7;
}

section.jumbotron{
    padding-top: 0;
    padding-bottom: 1rem;
}

section.jumbotron > div.container-big{
    position: relative;
    top: 80px;
}

div.columns{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.colonna{
    font-size: 0.75rem;
    padding-top: 3rem;
}

div.colonna p{
    margin-bottom: 1rem;
}

div.colonna button{
    margin-bottom: 1rem;
}

div.colonna img{
    width: 100%;
}

div.colonna-30{
    width: 30%;
}

div.colonna-70{
    width: 70%;
}

div.column-third{
    width: calc(100vw / 3);
    height: calc(100vw / 3);
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

article.client-square{
    width: 50%;
    height: 50%;
    display: flex;
}

article.client-square img{
    width: 50%;
    margin: auto;
    filter: invert(1);
}

div.column-third.bg-light-grey{
    padding: 2rem;
}

div.column-third.bg-light-grey img{
    width: 50%;
    left: 515px;
    top: 35px;
}

.padding-p {
    padding-left: 2rem;
    font-size: 10px;
}

.bg-white {
    background-color: white;
    width: 90px;
    height: 30px;
    margin-top: 1rem;
    margin-left: 2rem;
    border: 1px solid black;
}

.padding-box {
    padding-top: 0.50rem;
    padding-left: 0.50rem;
}

.light-blue {
    background-color: rgb(179, 208, 230);
    height: 250px;
    border: dotted;
    margin-bottom: 120px;
}

.questions {
    margin: 0 23rem;
    background-color: orange;
    height: 350px;
    border: dotted;
    margin-bottom: 150px;
}

.black {
    background-color: black;
    height: 450px;
    border: dotted white;
}

.container {
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
  }
  
  .container input {
    opacity: 0;
    cursor: pointer;
  }
  
  .checkmark {
    position: absolute;
    left: 0;
    right: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .container .checkmark:after {
       top: 4px;
      left: 4px;
      width: 17px;
      height: 17px;
      border-radius: 50%;
      background: white;
  }
  
 .flex-row {
    display: flex;
    flex-direction: row;
    padding-top: 2rem;
  }